*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightgreen;
    margin: 2%;
}

.header{
    height: 100vh;
}

footer{
    height: 20vh;
    background-color: rgba(0, 255, 255, 0.205);
    color: lawngreen;
    text-align: center;
}